@import 'tailwindcss';

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
}

@layer components {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"], textarea {
        @apply block w-full rounded-md border-0 p-2 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-300 placeholder:text-slate-500 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm bg-white;
    }

    header {
        @apply bg-emerald-800 shadow-md;
    }

    nav {
        @apply py-5 px-4 flex items-center justify-between;
    }

    .nav-link {
        @apply active:bg-slate-900 hover:bg-slate-100/10 text-slate-100 px-3 py-1 rounded-lg;
    }

    .title {
        @apply text-3xl mb-4 font-bold
    }

    .card {
        @apply bg-white p-6 rounded-lg shadow-lg border border-slate-200;
    }

    label {
        @apply text-sm text-slate-600;
    }

    .btn {
        @apply relative enabled:bg-emerald-800 enabled:active:bg-emerald-900 enabled:hover:bg-emerald-700 p-2 rounded-md text-white block w-full disabled:bg-emerald-500 disabled:cursor-wait;
    }

    .error {
        @apply text-xs text-red-500 mt-px;
    }
}


